body {
  width: 100%;
  background: no-repeat center/40% URL("./PlainTree.jpg");
}

audio {
  display: inline-block;
  border: crimson 7px ridge;
  border-radius: 5px;
  justify-content: center;
}
/* **************      ELF    *********************************************** */

.elfSection {
  display: grid;
}

.elf1 {
  width: 50%;
  grid-column-start: 1;
  grid-column-end: 2;
}

.elf2 {
  width: 50%;
  grid-column-start: 2;
  grid-column-end: 3;
}

.elfHat {
  position: relative;
  right: -3em;
  bottom: -4em;
  z-index: 15;
}

.elfFace {
  position: relative;
  bottom: -1.5em;
  z-index: 5;
}

.elfBody {
  position: relative;
  right: -2em;

  z-index: 2;
}
