body {
  width: 100%;
  background: no-repeat center/50% URL("./PlainTree.jpg");
}



audio {
  display: inline-block;
  border: crimson 7px ridge;
  border-radius: 5px;
  justify-content: center, bottom;
}
/* **************      ELF    *********************************************** */

.elfSection {
  display: grid;
}

.elf1 {
  width: 30%;
  grid-column-start: 1;
  grid-column-end: 2;
}

.notElf {
  padding-left: 5%;
  padding-right: 5%;
  grid-column-start:  2;
  grid-column-end: 3;
}

.elf2 {
  width: 30%;
  grid-column-start: 3;
  grid-column-end: 4;
}

.elfHat {
  position: relative;
  right: -3em;
  bottom: -4em;
  z-index: 15;
}

.elfFace {
  position: relative;
  bottom: -1.5em;
  right:-3em;
  z-index: 5;
}

.elfBody {
  position: relative;
  z-index: 2;
}
