.container {
	display: grid;
	grid-template-columns: repeat(4, 250px);
	grid-template-rows: repeat(5, 150px);
	width: auto;
	height: 600px;
	margin: 10px;
	justify-content: space-between;
}

.item1 {
	grid-column: 1 / span 5;
	grid-row: 1;
	background-color: #00FF00;
}

H1{
	text-align: center;
	padding: 30PX;
	color: darkred;
	font-family: 'Dokdo', cursive;
}

h2 {
	color: cyan;
	margin: 30px;
	font-family: 'Dokdo', cursive;
}


ol {
	color: blue;
	margin: 25px;
	font-size: 25px;
	font-family: 'Dokdo', cursive;
}

.item2 {
	grid-column: 1;
	grid-row: 2 / span 4;
	background-color:red;
}

.item3 {
	grid-column: 2 / span 4;
	grid-row: 2 / span 4;
	background-image: url('./HappyTree.jpg');
}

.item4 {
	grid-column: 1 / span 5;
	grid-row: 5;
	background-color: blue;
	font-family: 'Dokdo', cursive;
	text-align: center;
	font-size: 20px;
	color: white;
}

/* **************      ELF    *********************************************** */

.elfSection {
  display: grid;
}

.elf1 {
  width: 30%;
  grid-column-start: 0;
  grid-column-end: 1;
	margin: 0;

}

.elf2 {
  width: 30%;
  grid-column-start: 2;
  grid-column-end: 3;
	margin: 0;

}

.elfHat {
  position: relative;
  right: -3em;
  bottom: -4em;
  z-index: 6;
}

.elfFace {
  position: relative;
  bottom: -1.5em;
  right:-3em;
  z-index: 5;
}

.elfBody {
  position: relative;
  z-index: 2;
}
